
{#
/**
 * Fetch plugin for Craft CMS
 *
 *  Field Settings
 *
 * @author    Supercool Ltd
 * @copyright Copyright (c) 2018 Supercool Ltd
 * @link      http://www.supercooldesign.co.uk/
 * @package   Fetch
 * @since     1.0.0
 */
#}

<div id="{{ name }}" class="fetch">
  <input class="text nicetext fullwidth" type="text" id="{{ name }}" name="{{ name }}" value="{{ value }}" autocomplete="off" placeholder="">
</div>
<div class="clear"></div>
