{% import "_includes/forms" as forms %}

<div class="item" data-colspan="1">
  {{ forms.textField({
    first: true,
    label: 'Embed.ly API Key'|t('fetch'),
    id: 'embedlyApiKey',
    name: 'embedlyApiKey',
    value: settings.embedlyApiKey,
    errors: settings.getErrors('embedlyApiKey')
  }) }}
</div>
